/*!
 * The color collection
 */
$color-orange: #12b1ff;
$color-yellow: #ffeaa7;
$color-white: #fff;
$color-black: #000;
$color-gray: #363636;
$color-gray-1: #646464;
$color-blue: #00ebe8;
$color-energy-bar: #12e4ff;

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-gray {
  color: $color-gray;
}

.color-gray-1 {
  color: $color-gray-1;
}

.color-blue {
  color: $color-blue;
}

.color-orange {
  color: $color-orange;
}

.color-bg-orange {
  background-color: $color-orange;
}
